/* Makeshift CSS Reset */


#text { 
  min-height: 50em;
  max-height: 80em;

}


#result-cloud {
 overflow: hidden;
}

#result-cloud-table  {
  padding: 3px;
  background: #ccc;
  border: 2px solid black;
  text-align: center;
  overflow: hidden;
}

#result-cloud-table li {
  list-style-type: none;
  float: right;
  padding: 5px 2px;
  border-bottom: 0;
}

#result-cloud-table li:hover {
  color: green;
}

.liks-class { color: #333; }
.liks-class-active { font-weight: 900; color: #000 ; }

.short-word { color: #666; }
.long-word { color: #000; border-bottom: 1px #333 dotted; }
#s-a-c-sentence .level-E { color: red; }
#s-a-c-sentence .level-W { color: yellow; }
#s-a-c-sentence .level-H { color: blue; }

#s-a-c-counter, #s-a-c-details { font-size: 80%; color: #555; }

#result-line {
  font-size: larger;
}


#bottombox {
  z-index: 9999;
  position: fixed;
  height: 2em;
  bottom: 0px;
  right: 0;
  width: 100%;
  background-color: #563d7c;
  vertical-align: middle;
  color: #fff;
}

#bottombox b {
font-size: 18px;
line-height: 2px;
padding: 0 2ex;
}

#result-stats {
    color: rgba(255,255,255,0.7);
}